<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" lang="en">
<wicket:panel>
 	<div style="height: 6px; width: 97px; color: Black; border-bottom-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-color: #4D4D4D; border-top-width: 0px; border-bottom-style: solid; border-left-color: #4D4D4D; border-top-color: #4D4D4D; border-right-color: #4D4D4D; border-left-style: solid; border-right-width: 0px; border-left-width: 0px;">
	</div>
</wicket:panel>
</html>