<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" lang="en">
<wicket:panel>
<div style="float: left; height: 100%; border: 0px">
	<div>
		<div style="float: left; height: 23px; width: 50px;">
		</div>
		<div id="calendar_xlabel" wicket:id="xlabel" align="center">		
		</div>
	</div>
	<div style="clear: both; height: 1px; width: 1px;">
	</div>
	<div style="float: left;">
		<div id="calendar_ylabel" wicket:id="ylabel" align="right">
		</div>
	</div>
	<div wicket:id="columpart">
	</div>
</div>
</wicket:panel>
</html>